{{extend 'layout.html'}}

<div>
    <div class="container" style="padding:10px 10%;">
        <h2 class="center">Бесплатные международные переводы без посредников</h2>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-12">
<br>
                <p>
    Бесплатные переводы в другие страны и СНГ Вы можете делать самостоятельно используя новую технологию Биткоин.
Отличия международных переводов по технологии Биткоин заключается в том, что их никто не контролирует и можно делать переводы денег без предъявления паспорта и без регистраций. В добавок, Биткоин-технология позволяет делать денежные переводы в любую точку мира онлайн, через интернет — то есть не выходя их дома. К тому, же скорость переводов денег с помощью биткоин очень высокая —  обычно деньги (биткоины) приходят за несколько минут. Еще, большой плюс биткоин платежей в том, что деньги хранятся лично у Вас, а не в банке или у оператора электронных денег, таких как Яндекс.Деньги, КИВИ или PayPal и поэтому их не возможно заблокировать или отобрать без Вашего согласия. К тому же, все биткоин платежи являются анонимными. И наконец, биткоинами можно оплачивать услуги и товары напрямую, без конвертации их в местную валюту, например на нашем сервисе есть 
                    <a href={{=URL('to_phone','index')}}>оплата услуг сотовых операторов</a> и 
                    <a href={{=URL('deal','index')}}>других услуг</a> (например, жилично-комунальных услуг, онлайн-игр, интернет, и т.д.). По-сути, биткоины — это «<a href="http://xn--80aaxidk7e.xn--80asehdb/" target="_blank">наличка.онлайн</a>».
                </p>
                <p>
Недостаток лишь в том, что для конвертации биткоинов в местную валюту, Вам придется всё же заплатить комиссию местным обменникам валют.
                </p>

                <p>
Итак, что нужно для совершения бесплатного платежа любого размера в другую страну:
                </p>
                <div class='list_em'>
                <ol>
                    <li>
                        <p>
                            <span class='limegreen'>установить</span> на своем мобильном телефоне или компьютере кошелек биткоинов, выбрав “легкий кошелек» на официальном сайте сообщества <a href=https://bitcoin.org/ru/choose-your-wallet target='_blank'><b>bitcoin.org</b></a>. В кошельке Вы найдете свой адрес счёта (обычно во вкладке получить платеж)
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class='limegreen'>купить</span> сами биткоины — это можно сделать в нашей службе <a href={{=URL('to_buy','index')}} target='_blank'><b>тут</b></a> или найти в интернете удобный обменник
                        </p>
                    </li>
                    <li>
                        <p>
в другой стране, Ваш получатель денег должен так же иметь биткоин кошелек и <span class='limegreen'>предоставить</span> свой адрес счёта Вам – это делается простым копированием и пересылкой адреса криптокошелька через электронную почту или скайп
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class='limegreen'>перевести</span> Вашему получателю деньги — он увидит перевод денег самостоятельно в своем кошельке криптовалюты. После того как платеж получит более одного подтверждения от сети Биткон, можете быть в уверенны в переводе средств
                        </p>
                    </li>
                </ol>
                </div>
                <p>
Это всё! Теперь Вы можете самостоятельно переводить  любые деньги в любые страны бесплатно (обычно комиссия не превышает 2-х рублей) как для себя так и для своих клиентов.
                </p>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">

            </div>
        </div>
{{=h}}
    </BR></BR>
    </div>
</div>
