{{extend 'layout.html'}}

<div>
    <div class="container" style="padding:10px 10%;">
        <h2 class="center">Что такое биткоин и криптовалюта</h2>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">
<p>
Два самых главных отличия криптоденег от современных фиатных валют (долларов, рублей и прочих фантиков): криптоденьги никому не принадлежат и имеют большую себестоимость выпуска новых монет. Отсюда вытекают самые вкусности использования и инвестировании в криптовалюту для обычных людей. Власть имущие же получают большую головную боль - как управлять людьми? Для власти это становится большой проблемой. Хотя сейчас появились и другие разновидности криптовалют - их выпуск почти ничего не стоит, а тот кто её создал сразу выпускает значительную часть монет и присваивает их себе. Такие криптомонеты называют с премайном или с предвыпуском или с IPO. И такие монеты по-сути принадлежат тому кто имеет большую часть этой криптовалюты - обычно её создателям.</p>
    <p><a href="https://docs.google.com/document/d/1VCytJuEnt_OHB5YcnVnQiEetKK0m8nIWxWW2OcsGWAA/edit?usp=sharing"  target="_blank">Статья про отличия Биткоин от обычных (фиатных) денег "Наличка-онлайн"</a></p>
<p>Обычные деньги, такие как доллары и рубли, которые печатаются правительствами разных стран в любых объемах, обманывая тем самым свой народ и раздувая инфляцию, - скоро исчезнут. Им на смену уже сейчас пришла криптовалюта. Криптовалюта это деньги будущего. Она настолько разностороння и интересна, что мы можем дать три разных описания для неё в зависимоти от того кто Вы есть:
                </p>
                <h3>
                    <b>Я бизнесмен и мне нужно знать какие выгоды криптовалюта дает для моего бизнеса.</b>
                </h3>
<ol>
    <li>Криптовалюта это международная валюта - перевести ее можно в любую страну мира за считанные минуты и это не требует ни каких разрешающих документов. Обмен криптовалюты на рубли и доллары есть на многих биржах.
        {{=' Мы Вам рекомендуем старейшую'}} 
        {{#=XML('<a href="https://upbit.org/?ref=1059" target="_blank">биржу UpBit</a>')}}
        {{=XML('<a href="https://btc-e.com" target="_blank">биржу BTC-e</a>')}}.</li>
    <li>Ваши деньги хранятся только у Вас на компьютере, вернее в среде криптовалюты, поэтому заблокировать Ваш счет невозможно, так же как и взломать Ваш электронный кошелек с криптомонетами. То есть контроля со стороны банков или силовиков и государства нет и быть не может. Однако если Вы физически потеряете информацию, то восстановить ее будет невозможно - чтобы избежать этого просто сохраняйте копию электронного кошелька и пароль к нему в надежном месте. Можете даже раздать друзьям сам кошелек а пароль разделить.</li>
    <li>Стоимость переводов (они все международные) намного ниже чем берут банки - как правило менее 0,5% и сейчас равно 0,1..2 рубля.</li>
    <li>Наивысочайшая надежность платежей и защита вашего кошелька - еще ни разу и ни кто не смог взломать саму сеть криптовалюты. Однако кража ваших ключей доступа возможна разными вирусами-троянами.</li>
    <li>Полная анонимность - ни кто не знает кому конкретно принадлежит тот или иной электронный адрес и кошелек, ведь адрес создаёте Вы сами случайным образом. При этом Вы всегда можете отследить движение своих криптомонет в криптосети.</li>
    <li>Независимость он налогов - ведь криптовалюта и биткоин это наличные деньги в цифровом виде - цифровая наличка! Хотите чтобы налоги на бизнес ушли в прошлое - поддержи инициативу на РОИ - 
     <a href="https://www.roi.ru/14634/" target="_blank">Отменить налоги на труд ROI.ru</a>
        </li>

    <li>Партнеры, которые принимают в оплату криптовалюту есть везде, а рынок криптовалюты растет экспоненциально и охватывает уже миллиарды долларов США.</li>
    <li>Стоимость криптовалюты по отношнию в доллару США зачастую растет, так как криптовалюта обладает дефляционной моделью эмиссии.
        Для сравнения посмотрите {{=A(T('капитализацию криптовалют'),  _href='http://coinmarketcap.com/', _target="_blank")}}.</li>
    <li>Легкость в подключении биллинга криптовалют к вашему сайту. Вы можете прямо сейчас подключить ваш онлайн магазин, сервис или портал к приему криптовалют через {{=A("LITE.cash", _href='http://LITE.cash', _target="_blank")}} и получать оплаты со всего мира.</li>
    <li>Новый проект по финансовым услугам для инвесторов и крупного бизнеса {{=A(B("ERM.cash"), _href='http://erm.cash', _target="_blank")}} - это революционный стартап в финансовом мире. Подключайтесь!</li>
</ol>
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">
{{=ua}} <br>
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">


<br>
                <h3>
                    <b>{{=T('Я гражданин, любящий самостоятельность, свободу и независимость и мне нужно знать как криптовалюта будет мне полезна.')}}</b>
                </h3>
<ol>
    <li>Криптовалюта - это децентрализованная международная валюта, которая не контролируется каким-либо банком или государством - это общенародная валюта, эмиссия в которой распределяется равномерно между теми кто ее добывает.</li>
    <li>Криптовалюта это справедливость - так как выпуск новых криптомонет распределяется равномерно между теми кто поддерживает криптосеть своими компьютерными мощностями добывая криптовалюту. Это намного справдливее чем то, как делают выпуск необеспеченных денег разные центральные банки разных стран и ФРС США, присваивая выущенные деньги себе и давая их в кредит государству своего народа. И это при том что собственниками ЦБ и ФРС являются физические лица, а не государство. По-сути все ЦБ и ФРС делают экономическими рабами свои народы.</li>
    <li>Криптовалюта это независимость и самостоятельность - Ваши криптомонеты и криптокошелек ни кто не сможет заблокировать или перевести средства не туда - нет банков, нет операторов, нет человеческого фактора - только Вы и криптосеть.</li>
    <li>Криптовалюта это надежность - все данные зашифрованы сильнее чем это сейчас делается в банковской системе и подтверждается всей криптосетью. Обмануть криптосеть еще никому не удалось и не удастся уже никогда.</li>
    <li>Криптовалюта это защита от слежки - ни кто не знает кому принадлежит тот или иной адрес или кошелек.</li>
    <li>Криптовалюта это подконтрольность госслужб и бюджета своим гражданам - так как все платежи в криптосети видны, то обнародовав адреса кошельков для всех госсулжб и предприятий с государственным участием (скажем более 40%) можно полностью контролировать все траты госслужб - что позволит мгновенно обличать коррупцию, откаты и обман чиновниками своих граждан. Причем этот контроль доступен любому гражданину страны и мира. Поддержи инициативы <a href="https://www.roi.ru/search/?q=%D0%BA%D1%80%D0%B8%D0%BF%D1%82%D0%BE%D0%B2%D0%B0%D0%BB%D1%8E%D1%82%D0%B0+%D0%BA%D1%80%D0%B8%D0%BF%D1%82%D0%BE" target="_blank">о криптовалютах на ROI.ru</a> </li>
    <li>Криптовалюта это удобство - оплата услуг на <a href="http://7Pay.in" target="_blank">7Pay.in</a> не требует ни то что подтверждений по СМС, а даже регистрации на портале. Вы платите со своего компьютера сами скопировав адрес и сумму платежа. При этом все платежи остаются в секрете.
    </li>
</ol>
{{=T('Популярные на нашем сервисе оплаты в биткоинах за услуги:')}}
{{=LOAD('deal','most')}}
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">
{{=ua}}
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">

<br>
                <h3>
                    <b>Я школьник, студент и мне нужна халява</b>
                </h3>
                Даже для халявщиков криптовалюта это находка:
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">
<div class="col-sm-10"><a class="block col-center button btn10 ll-blue-bgc" href="{{=URL('halava2')}}">
    Вот Халява</a></div>
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">

<br>{{=A(T('Что такое Биткойн?'), _href='http://bitnovosti.com/chto-takoe-bitcoin/', _target='blank')}} <br>

<BR>
{{=A(T('Хорошее видео про криптовалюту'), _href='http://www.youtube.com/watch?v=nJNPFtMCKlQ', _target='blank')}}<br>
{{=A(T('ОЧЕНЬ Хорошее видео про криптовалюту от 13 дек. 2013 г.'), _href='http://www.youtube.com/watch?v=X8VMXxx8QFQ', _target='blank')}}<br>
{{=A(T('про криптовалюту $$$'), _href='http://www.vestifinance.ru/videos/13122', _target='blank')}}<br>
{{=T('Очень хорошая статья про то')}}
{{=A(T('как власти обманывают граждан и как этому противостоять с помощью криптовалюты'), _href='http://bitnovosti.com/2013/11/10/bitcoin-eto-vpolne-seryezno/', _target="_blank")}}<BR>
{{=A(T('Хорошее видео 2 про криптовалюту'), _href='http://www.youtube.com/watch?v=k2ecNc0hNUw', _target='blank')}}<br>

<br>
{{=h}}

    </BR></BR>
            </div>
        </div>
    </div>
</div>
