{{extend 'layout.html'}}

<div>
    <div class="container" style="padding:10px 10%;">
        <h2 class="center">Ответы на вопросы по биткоинам и криптовалюте</h2>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">

<p>
    {{=T('Для того чтобы начать использовать криптовалюту, нужно выбрать для каких целей и какую именно из большого разнообразия их.')}}
    <ul>
        <li>Для использования в бизнесе нужна самая надёжная и распространённая криптовалюта - обратите внимание на те, которые имеют наибольший 
            {{=A(T('объем капитализации'),  _href='http://coinmarketcap.com/', _target="_blank")}}
            на международном финансовом рынке - это конечно же сам Bitcoin.
            Или {{=A(T('запросите консультацию у нас'),  _href=URL('consult', 'index'), _target="_blank")}}.
        </li>
        <li>
            Для ведения учёта движения разных средств - от акций до обязательств, используйте криптоденьги 2-го поколения (bitcoin 2.0) - это конечно <a href='http://nxt.org' target='_blank'>NEXT</a>, <a href='http://www.qora.org/' target='_blank'>QORA</a>, NEM. Более полный список их есть на международном форуме криптовалют <a href='https://bitcointalk.org/index.php?board=72.0' target='_blank'>BitcoinTalk.org</a>
        </li>
        <li>{{=T('Для заработка на добыче криптовалюты с помощью своего компьютера - лучше всего обратить внимание на те, которые имеют')}} {{=A(T('наибольший доход от добычи (майнига)'),  _href='http://www.coinwarz.com/cryptocurrency', _target="_blank")}}</li>
        
        <li>Для инвестиций в будущее - лучше всего обратить внимание сейчас не на сами монеты, а на технологии их использования, прежде всего на blockchain-стартапы. С нашей точки зрения самый перспективнй блокчейн-стартап это <a href=http://datachain.world target="_blank">"Государственный блокчейн"</a> с защитой патентами на изобретения.
        </li>
        <li>Так же Вам будет полезна статья
            {{=A('Цифровое золото', _href=URL('e_gold'))}}</li>

	</ul>
</p>
<p>Итак, Вы определились, тогда Вам надо установить на свой компьютер кошелек данной криптовалюты. Сделайте поиск сайта данной криптовалюты в интернете.
    </p><p>
ВАЖНО! После скачивания, установки и запуска кошелька криптовалюты он будет достаточно долго синхронизироваться с сетью своей криптовалюты - важно дождаться окончания синхронизации. Или используйте "лёгкий кошелёк" для данной криптовалюты - он очень быстро синхронизируется не скачивая всю информацию из криптосреды, а лишь ту что нужна лично Вам с доверенных узлов,
    например <a href='https://multibit.org/releases.html' target='_blank'>MultiBit.org (classic)</a>
    </p><p>
ВАЖНО! Узнать свой адрес кошелька можно открыв вкладку для получения криптовалюты на свой кошелек. Обычно это вкладка "Получить" или "Заказ". Еще свои адреса можно найти в меню "Файл" -> "Адреса получения".
Там выбрать нужную строчку с адресом, нажать правую кнопку на ней и выбрать "Скопировать адрес". Теперь Ваш адрес кошелька будет находиться в буфере обмена и его можно куда-нибудь передать или вставить.
</p><p>
ВАЖНО! Не пытайтесь записывать адреса криптовалют вручную - всегда используйте "копировать/вставить".
</p>
<p>
    {{=T('Итак Вы получили адрес своего кошелька криптовалюты - теперь можно использовать его для ')}}
    {{#=A(T('добычи монет майнингом'), _href="http://flylark.net/", _target="_blank")}} 
    {{=T('добычи монет майнингом')}}
    {{=T('или инвестировать на')}}
    {{=T('биржах криптовалют')}}
    {{#=A(T('биржах криптовалют'), _href="https://upbit.org/?ref=1059", _target="_blank")}}
    . {{=T('Продать монеты Вы можете на нашем сервисе оплатив ими разные услуги или продав их на биржах криптовалют.')}}
    {{=T('Мы рады отправить Вас в удивительное путешествие по миру криптовалют и надеемся скоро увидеть Вас опять на нашем сервисе!')}}
</p>

{{=h}}
            </div>
        </div>
    </div>
</div>
