{{extend 'layout.html'}}

    <div class="container" style="padding:10px 10%;">
        <h2 class="center">{{=title}}</h2>
        <h3 class="center">{{=subtitle}}</h3>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">
        <h4 class='right'><i>Настоящее цифровое Золото это:<ul><ol> достаток сейчас</ol><ol>и богатство в будущем</ol></ul>Цифровые монеты это будущее!</i>
            
        </h4>
                <p>
                    
                </p>
                <p>
                {{=IMG(_src=URL('static','images/gold1.jpg'))}}
                </p>
                <p>
Почему золото и другие невозобновляемые и ограниченные ресурсы на Земле постоянно дорожают? Потому что деньги можно выпускать сколько угодно много, а запасы золота ограничены. Поэтому с каждым годом цены на золото или нефть растут - денег становится все больше, а ресурса всё меньше и его всё сложнее добыть.
                </p>
<ul>
    <ol>Поэтому “добыв” ресурс сейчас ты можешь обеспечить себе будущее продав его позже.</ol>
    <ol>Поэтому хранить и копить сами деньги, думая что ты обеспечишь так себе будущее и пенсию - глупо. Все пенсионные программы и пенсия - это обман для простаков!</ol>
</ul>
                <p>
Однако хранить, а тем более рассчитываться самим сырьем очень неудобно - Вы не будете хранить у себя дома бочки с нефтью и руду с золотом и даже золотые слитки. Поэтому в 2009-м году было придумано “настоящее цифровое золото” - биткоин. Первоначальная цена его была всего 10 центов. А летом 2013-го биткоин уже стоил 100 долларов - рост в 1000 раз!
<p>
    Сейчас 1 биткоин стоит: <b><i class="fa fa-rub" style="color:chocolate;"></i>{{=rate}}</b>
                </p>

    {{
    #<p>
    # А 1 <a href=http://sibcoin.info target="_blank">"Сибирский червонец"</a> стоит пока ещё:
    # <b><i class="fa fa-rub" style="color:chocolate;"></i> {='%s' % rate2}</b> - это хорошее начало для роста!
    #</p>
    }}
                <p>
на
{{#=A(T('биржах криптовалют'), _href="https://upbit.org/trade/?ref=1059", _target="_blank")}}
 биржах криптовалют, например
{{=A('BTC-e.com', _href="https://btc-e.com/", _target="_blank")}}
                </p>

<br>
И в долгосрочном плане, цена на биткоин скорее всего будет только расти - так как его количество строго ограничено всего 21-м миллионом монет.<br>
    {{# У сибирского червонца максимальное количество монет будет около 27 млн. }}
<table>
    <tr>
        <td>
            {{=IMG(_src=URL('static','images/slide3.png'))}}
        </td>
        <td>
            <div>
                <br><br>{{=T('Как Вам такое обеспечение своего будущего и запасов на пенсию???')}}
            </div>
        </td>
    </tr>
</table>
                <p>
Чем он так полезен, этот биткоин, почему люди, инвесторы и бизнесмены всех стран кинулись покупать цифровые деньги? Да потому что хранить их или делать переводы (в том числе и международные) с помощью “электронного золота” очень просто! Для этого не нужно открывать счёт в банке, не нужно никаких разрешающих документов, а перевод цифрового золота в другую точку мира занимает всего несколько минут! При этом сами биткоины хранятся лично у Вас на компьютере в виде зашифрованного файла - взломать который еще ни кому не удалось и никогда уже не удастся. Это намного удобней чем счет в банке, который банк может заблокировать или перевести деньги не туда. Ваш кошелек с “электронным золотом” ни кто не заблокирует и не сделает ошибки при переводе.
                </p>
{{=T('И так, подытожим:')}}<br>
<ul>
    <li>{{=T(' бизнесмены оценили преимущества биткоина перед обычными долларами и рублями и теперь ведут бизнес с использованием “цифрового золота” биткоин')}}</li>
    <li>{{=T('инвесторы смекнули что это самый что ни на есть “ограниченный товар” на свете и стали биткоины скупать задирая курс')}}</li>
    <li>{{=T('обычные люди поняли насколько биткоины удобней и надежней чем счета в банке и используют биткоины в повседневной жизни - расплачиваются ими за сотовые телефоны, за онлайн игры, одалживают друг другу и ведут небольшой бизнес не завися от государства и банкиров')}}</li>
</ul>
<br>
{{=T('А теперь самое главное!')}}<br>
<b>{{=T('Ты можешь добыть биткоины САМ!')}}<br></b>
<table>
    <tr>
        <td>
            {{=IMG(_src=URL('static','images/slide2.png'))}}
        </td>
        <td><span>
            <br>{{#=T('Можно купить часть добывающей  мощности от специальной “фермы” на ')}}
            {{#=A('BitRent.in', _href='http://Bitrent.in', _target='blank')}}<br>
            <br>{{=T('Можно самому собрать "ферму" для добычи биткоинов, но это очень сложно и больше подходит для ботанов и технарей: надо иметь дома мощный компьютер или взять его “в аренду” на работе на ночь или купить специальную “ферму” для серьезной добычи “цифрового золота”.')}}<br>
            {{=T('Для смышлёных')}} - {{=A(T('как добывать "цифровое золото" биткоин или другие криптовалюты'), _href=URL('default','halava2'))}}<br>
            </span>
        </td>
    </tr>
</table>
<br>
<b>{{=T('Так как же сделать так чтобы не работать?')}}<br></b>
{{=T('Надо “добыть” биткоины или любую другую криптовалюту - ')}}
{{=A(T('путем майнинга'), _href=URL('default','halava2'))}}
{{=T('или')}}
{{=A(T('путем покупки'), _href=URL('to_buy','index'))}}
{{=T('за обычные фиатные деньги (доллары или рубли). Затем подождать годика 2 и продать… Ну вот так я и сделал… А еще бизнес на криптовалюте открыть, открыть пул для майнинга (это сайт совместной добычи биткоинов и другого “цифрового золота”)... Да много чего можно сделать имея у себя криптовалюту - даже подарить другу как “цифровую золотую монету” - в отдельном кошельке на СД-диске.')}}<br>

{{=T('На нашем сайте Вы можете как')}}
{{=A(T('купить биткоины'), _href=URL('to_buy','index'))}}
{{=T('так и')}}
{{=A(T('потратить биткоины'), _href=URL('default','index'))}}


            </div>
        </div>
    </div>
