{{extend 'layout.html'}}

    <div class="container" style="padding:10px 10%;">
        <h2 class="center">{{=title}}</h2>
        <h3 class="center">{{=subtitle}}</h3>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">

                <p>
Привет! Получить от 300 до 3000 рублей на халяву поможет тебе твой компьютер если у тебя есть мощная видеокарта AMD Radeon или подобная. Например, я на своей AMD Radeon HD 7750 получил в ноябре 2013-го 1700 рублей. А в октябре 2013 - 900 рублей. Не тратя время на то чтобы узнать что такое криптовалюта и что такое биткоины (пусть этим занимаются серьезные дядьки у которых много денег) перейдем сразу к сути дела:<br>
<b>Ты можешь самостоятельно, без разрешений от взрослых, без сложных регистраций, без документов добывать криптовалюту с помощью видеокарты AMD Radeon. Добытую криптовалюту ты сможешь продать на нашем сервисе - мы с радастью купим её у тебя.</b>
                    Итак по порядку:
                </p>
<ol>
    <li>
        Ищем наиболее выгодную криптовалюту для добычи
        {{#, например <a href=http://sibcoin.info target="_blank">"Сибирский червонец"</a>или}}
        среди <a href="http://www.coinwarz.com/cryptocurrency" target="_blank">www.coinwarz.com</a> {{=T('или подобных сайтах в интернете.')}}
    </li>
    <li>
        {{=T('Ищем пул совместной добычи выбранной криптовалюты и регистрируемся там.')}}
        {{#=T('Хотя можно взять вот этот пул')}}
        {{#=T('добычи криптовалюты copperlark')}}
        {{#=A('FlyLark', _href="http://flylark.net/", target="_blank")}}
    <li>
        Скачиваем и устанавливаем свой личный кошелек выбранной криптовалюты. 
        {{=A(T('Посмотреть список популярных криптовалют'), _href="http://coinmarketcap.com/", _target="_blank")}}
        {{#=T('Скачиваем и устанавливаем свой личный кошелек криптовалюты copperlark')}}
        {{#=A(T('здесь'), _href="https://copperlark.com/begin/", target="_blank")}}
    </li>
    <li>
        {{=T('Находим адрес своего кошелька так: запускаем установленный кошелек, заходим в закладку "Получить" - там в колонке "Адрес" длинная строчка знаков - правая мышка на них - жмем "Копировать адрес".')}}
    </li>
    <li>
        {{=T('Вставляем этот адрес в личном кабинете пула, чтобы добытые монеты переводились с пула на твой кошелек.')}}
    </li>
    <li>
        {{=T('Скачиваем с пула программу-добытчик (минер, miner - cgminer.exe) читаем инструкции как его запускать. Обычно это просто рапаковать и задать свой логин.воркер и пароль в файле настроек минера. Запускаем его и смотрим на статистику добычи (майнинга) - ищем цифры показывающие скоррость добычи, например "88Mh/s".')}}
    </li>
    <li>
        {{=T('Криптомонеты добываются долго - раз в сутки смотрим что к тебе пришло на кошелек - это ты можешь продать у нас (смотри ссылки ниже) или на разных биржах.')}}
    </li>
    <li>
        Получив добытые монеты на свой кошелек, оплачиваем ими свой сотовый телефон или онлайн игры на нашем сервисе.
        Или положи биткоины прямо на <a href="https://www.e-coin.io/?ref=4b3a38cb437f4317a1e9ee5782fea22d" target="_blank">банковскую карту</a>
            <div class="row">
                    <a href="https://www.e-coin.io/?ref=4b3a38cb437f4317a1e9ee5782fea22d" target="_blank">
                        <img src={{=URL('static','images/logos/e-coin-card.png')}} width=300 alt="" ></a>
            </div>

    </li>
</ol>
                <br>
                <h3>
                    Более сложный способ - это "кран" (faucet)
                </h3>
                <p>
                     Если у Вас есть безлимитный интерент и куча свободного времени то собирать биткоины и криптовалюту на халяву можно на множестве кранов (faucets), с которых капают "сатоши" (satoshi).
                    Ищем в интернете "dogecoin faucet", "bitcoin faucet", "litecoin faucet" или по русски - догикоин краны, биткоин краны...
                </p>
                
<br>{{=T('Чуть более подробно о криптовалюте (цифровое золото):')}}
{{=A(T('Биткоины и криптовалюта - как начать зарабатывать цифровое золото'), _href=URL("e_gold"), _target="_blank")}}

<br>
<br>{{=T('Ты нам криптовалюту, а мы тебе рубли на сотовый телефон:')}}
{{=A(T('Оплатить биткоинами, ларками мобильный телефон'), _href=URL("to_phone","index"), _target="_blank")}}
<br>{{=T('Ты нам криптовалюту, а мы тебе рубли на аккаунты разных онлан игр:')}}
{{=A(T('Оплатить биткоинами, ларками онлайн игры'), _href=URL("deal","index", args=[2]), _target="_blank")}}
<br>{{=T('Ты нам криптовалюту, а мы тебе рубли на яндекс деньги:')}}
{{=A(T('Обменять биткоины, ларки на рубли'), _href=URL("to_wallet","index"), _target="_blank")}}
<br>{{=T('Ты нам криптовалюту, а мы оплатим твой интернет:')}}
{{=A(T('Оплатить биткоинами, ларками услуги интернет провайдеров'), _href=URL("deal","index", args=[3]), _target="_blank")}}

<br>
<p>
    {{=H4(T('Еще Вы можете заплатить биткоинами, лайткоинами, криптовалютой за онлайн игры:'))}}
    <ul>
        <ol><a href='{{=URL('to_deal','index', args=[4])}}'>Wolrd of Tanks | {{=T('Танки')}}</a></ol>
        <ol><a href='{{=URL('to_deal','index', args=[49])}}'>Allods | {{=T('Аллоды онлайн')}}</a></ol>
        <ol><a href='{{=URL('to_deal','index', args=[3077])}}'>Prime World | {{=T('Мир Прайма')}}</a></ol>
        <ol><a href='{{=URL('to_deal','index', args=[13])}}'>DOTA 2 | {{=T('ДОТА 2')}} | и все игры под Steam Wallet RUS</a></ol>
        <ol><a href='{{=URL('to_deal','index', args=[11])}}'>Bloody world | {{=T('Мир Крови')}}</a></ol>
        <ol><a href='{{=URL('to_deal','index', args=[26])}}'>War Thunder</a></ol>
</ul>

</p>
            </div>
        </div>
    </div>
