{{extend 'layout.html'}}

    <div class="container" style="padding:10px 10%;">
        <h2 class="center">{{=title}}</h2>
        <h3 class="center">{{=subtitle}}</h3>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">


{{=T('Добыть немного денег на халяву поможет Вам ваш компьютер. Дело в том, что многие продвинутые люди используют в своей жизни криптовалюту, которую необходимо обслуживать компьютерными расчетами, шифрованием и учетом. Криптовалюта намного удобней обычных денег, поэтому эти люди готовы платить за аренду дополнительных компьютеров. Арендовать для этих целей компьютерные мощности у обычного человека оказалось гораздо выгоднее чем покупать компьютерное время у машинных кластеров. Поэтому, каждый кто имеет у себя компьютер с современной видеокартой (обычно как раз ее вычислительная мощность используется для расчетов) может сдать в аренду свой компьютер. В месяц Ваш чистый доход будет колебаться от 300 до 700 рублей на одну видеокарту. Посмотреть текущую доходность можно тут')}} <a href="http://www.coinwarz.com/cryptocurrency" target="_blank">www.coinwarz.com</a>
<BR>{{=T('Выглядит это очень просто - вы запускаете на своем компьтере программу-добытчик (её назывют майнер), которая используя Вашу видеокарту начинает помогать криптовалюте совершать платежи. При этом Вы будете получать комиссию с обработанных транзакций, а так же можете добыть немного самой криптовалюты. Причем Вы даже не заметите работы этой программ и можете заниматься обычными делами или оставить компьютер включенным на ночь. Через некотрое время (около часа или немного больше - зависит от мощности Вашего компьютера) Вам приходят криптоденьги, которыми Вы можете оплатить множество услуг на нашем сайте')}} <a href="https://7Pay.in" target="_blank">7Pay.in</a> {{=T('- сотовый телефон, интеренет, онлайн игры.')}}
<br>{{=T('Если Вам интересно, можете прочитать о том')}} <a href="https://7pay.in/ipay/default/crypto" target="_blank">что такое криптовалюта</a>.
<br>{{=T('Если Вы решились поделиться мощностью своего компьютера, то Вам сюда:')}}
{{=A(T('заработать немного халявных денег'), _href=URL("crypto_go"), _target="_blank")}}

<br>
<p>
    {{=H4(T('Еще Вы можете заплатить биткоинами, куперларками за онлайн игры:'))}}
    <ul>
        <ol><a href='{{=URL('more','to_pay', args=[4])}}'>Wolrd of Tanks | {{=T('Танки')}}</a></ol>
        <ol><a href='{{=URL('more','to_pay', args=[5])}}'>Allods | {{=T('Аллоды онлайн')}}</a></ol>
        <ol><a href='{{=URL('more','to_pay', args=[6])}}'>Prime World | {{=T('Мир Прайма')}}</a></ol>
        <ol><a href='{{=URL('more','to_pay', args=[13])}}'>DOTA 2 | {{=T('ДОТА 2')}} | и все игры под Steam Wallet RUS</a></ol>
        <ol><a href='{{=URL('more','to_pay', args=[11])}}'>Bloody world | {{=T('Мир Крови')}}</a></ol>
        <ol><a href='{{=URL('more','to_pay', args=[27])}}'>War Thunder</a></ol>        
</ul>
{{=H4(T('Или найти свою игру здесь'))}}
<a href='{{=URL('more','index', args=[2])}}'>{{=T('Список платежей биткоинами за другие игры')}}</a>

</p>

            </div>
        </div>
    </div>
