{{extend 'layout.html'}}

<div>
    <div class="container" style="padding:10px 10%;">
        {{if not cod:}}
        <h2 class="center">Хотите получать комиссию с платежей от приглашенных Вами пользователей?</h2>
        <h3>
            Подключайтесь к нашей {{=A(T('партнерской программе ') + DOMEN, _href=URL('partners','index'))}}
        </h3>
        {{else:}}
        <h2 class="center">Статистика начислений по вашем партнёрскому коду</h2>
        {{pass}}
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">
{{if not cod:}}
{{=CAT(
    P(T('Ваш заработок с платежей будет как минимум 1 рубль с каждого платежа от вашего приглашенного.')),
    P(T('Чтобы начать работу Вам надо получить код партнёра.')),
    P('Этот код партнера Вы потом будете использовать как "подарочный код" для приглашения других людей и подключения их к Вам как "вами приглашенных". С их платежей Вы и будете получать доход.'),
                )
                }}
            </div>
        </div>
    </div>
</div>

{{if not mess:}}
<div style="background-color:{{=SKIN['bg-clr-mnu']}};color:{{=SKIN['clr-mnu']}}">
    <div class="container" style="padding:10px 10%;">
        <h3>
            Для получения кода партнера Вам надо:
        </h3>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">
    {{=CAT(
OL(
    LI(T('определиться - за какую услугу или дело потом будет выплачиваться ваш заработок. Обычно все выбирают дело'),' ',
        A(B('"',T('Обмен'),'"'), _href=URL('to_coin','index'), _target='_blank', _class='lite'), ' ',T('или'),' ',
        A(B('"',T('Мобильyый телефон'),'"'), _href=URL('to_phone','index'), _target='_blank', _class='lite')),
    LI(T('определиться - на какой счет или аккаунт будет выплачиваться ваш заработок. Если Вы выбрали дело "сотовый телефон", то задайте номер вашего мобильного телефона.')),
    LI(T('получить адрес криптовалюты для оплаты выбранного дела и аккаунта - для этого Вы должны просто оплатить через наш сервис, наприимер ваш сотовый телефон. Если Вы уже платили за данное дело, посмотрите адрес получателя в Вашем кошельке криптовалюты в истории выплат или заново заполните форму платежа и выберите криптовалюту платежа (можете не делать сам платёж) и наш сервис выдаст Вам этот адрес')),
    LI(T('ввести полученный адрес криптовалюты в форму ниже (в поле "Проверьте свой партнерский код"). Если Вы еще не партнер то код партнера будет создан. Там же Вы можете получить статистику по этому адресу или коду партнера.')),
    ),
    P('Например, Вы хотите получать партнерские выплаты в рублях сразу на сотовый телефон, тогда используем дело - “на Сотовый” (это дело есть наверху в меню). Задаем там свой номер телефона для выплат и выбираем для оплаты любую криптовалюту, и после нажатия на соответствующую кнопку мы получим адрес криптовалюты, куда нужно произвести оплату. Вот именно этот адрес и надо ввести в форму внизу, после чего вы получите код партнера и статистику по нему.'),
    P('Или, например, Вы хотите получать партнерские выплаты в криптовалюте ERA на свой адрес 7e45...76rW, тогда используем дело “Обменять” (оно так же есть наверху в меню). Выбираем там выход на ERA и задаем там этот адрес для выплат. После чего выбираем для оплаты обмена любую криптовалюту и получаем адрес для платежа. Вот этот адрес и вводим внизу и получаем код партнера и статистку по нему.'),
    P(T('Заметка'),': ','Не важно в какой криптовалюте вы получили адрес на оплату - выплата будет вестись для всех прочих входящих криптовалют.'),
    P(T('Заметка'),': ',XML(T('Для создания кода партнёра сумма оплат по аккаунту этого дела в эквиваленте должна быть больше %s <i style="display:inline;" class="fa fa-rub"></i>') % PARTNER_GO),' ',
        T('или если Вы уже знаете свой код партнера, укажите его ниже.')),
    P(T('Важно'),': ',XML(T('Код партера будет создан для этого дела и ваш заработок будет копиться на аккаунте этого дела пока Вы не совершите оплату этого дела, и если Ваш заработок в эквиваленте больше %s <i style="display:inline;" class="fa fa-rub"></i>, тогда он добавится к величине вашей оплаты.') % PARTNER_MIN)),
)}}
{{pass}}
            </div>
        </div>
    </div>
</div>
{{pass}}
<div>
    <div class="container" style="padding:10px 10%;">

{{if cod:}}
{{=T('Ваш код партнёра:')}} <b>{{=cod}}</b><br />
{{=T('Заработок будет сохраняться для ')}} {{=mess}}<br />
<BR>{{=T('Количество Ваших приглашенных составляет')}}: <b>{{=partner_count}}</b>.
<BR>{{=T('Ваш баланс от партнерской программы составляет')}}: <b>{{=partner_sum or 0 }}</b> {{=curr}}.
<br>{{##=XML(T('Если баланс превысил %s [%s], то он будет добавлен к Вашему следующему платежу.') % (PARTNER_MIN, curr))}}
    {{=T('Он будет добавлен к Вашему следующему платежу.')}}
<br>
{{pass}}
{{if not cod and mess and len(mess)>2:}}
<b>{{=T('ОШИБКА')}}:<br>{{=mess}}</b>
{{pass}}
<br />
{{if cod:}}
    <h3>
        Информер с партнёрским кодом, который Вы можете вставить на свой сайт или блог:
    </h3>
{{l=URL('aj','informer', args=[cod], host=True, scheme=True)}}
<iframe frameborder="0" allowtransparency="true" scrolling="no" src="{{=l}}" width="222" height="144"></iframe><br />
    <textarea style="margin: 0px; width: 80%; height: 150px;">
        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="{{=l}}" width="222" height="144"></iframe>
    </textarea><br />
    <p>
        В ссылке src= фрейма Вы должны указать в первом параметре свой код партнёра (как показано выше). Так же можно задать дополнительные параметры: аббревиатуры валют,
        курс которых желаете увидеть в информере, и переменную m с текстом сообщения. Например так:
    </p>
    <p>
        {{=l}}/BTC/SIB?m=Bonus+TopUp+Mobile!
    </p>

    <h3>
        Реферальная ссылка, с кодом партнера
    </h3>
    <p>
        Для создания привлекающих сообщений на разных форумах
используйте реферальную ссылку для перехода на сайт службы с указанием параметра 
    gc={{=cod}}.
    {{=T('Например ссылка на оплату сотового телефона будет такая')}}:<br />
    <b>{{=partner_url}}</b>
<br />
    </p>
    <p>
        {{=T('Для привлечения своих приглашенных используйте "код партнёра" как "Подарочный Код", по которому им будет предоставлен подарок от нас. Подарок Ваш приглашенный получает автоматически если перейдет по реферальной ссылке, либо укажет самостоятельно этот "Подарочный Код" при совершении платежей или в меню "Подарки" - "Получить Подарок".')}}
    </p>{{=T('Даже если сейчас нет подарков по этому "делу" - не важно, каждый Ваш приглашенный введя "подарочный код" или перейдя по реферальной ссылке, которая дана выше, автоматически становится вашим рефералом, с которого Вы будете получать комиссию за платежи на нашем сервисе.')}}
    <p>
        {{=T('При этом, Вам на аккаунт [%s] в %s будут начисляться проценты от доходов с приглашенных.') % (acc, DOMEN)}}
    </p>
<p>
    {{=T('Когда сумма от поступивших начислений превысит 33 рубля, она будет добавлена к следующему Вашему платежу на этот аккаунт.')}}
    </p>
    <p>
        {{=T('Например, если Вы получили код партнёра для платежей в игру Аллоды, то при рекламе сервиса %s  в этой игре пишите примено так') % DOMEN}}:
<br />{{=T('Каждому кто использует подарочный код %s на %s получит 55 рублей') % (cod, DOMEN)}}
     (точную сумму подарка можно посмотреть в {{=A('списке подарков', _href=URL('gifts', 'list'))}} ).
{{=T('При этом ссылка может вести на любую страницу сервиса с заданием в качестве параметра "gc" вашего кода, например так:  ')}}
    {{u = URL('default','index',vars={'gc': cod}, scheme=True, host=True)}}
<br />{{=A(u, _href=u)}}<br />
    Или сразу ссылку на страницу оплаты игры Танки так:<br />
    {{u = URL('to_deal','index', args=[4], vars={'gc': cod}, scheme=True, host=True)}}
{{=A(u, _href=u)}}

    </p>
<p>
    {{=T('Величину подарка для данного дела можно посмотреть в ')}} {{=A(T('списке подарков от ') + DOMEN, _href=URL('gifts','list'))}}
    </p>
{{pass}}
        <h3>
            Проверьте свой партнерский код
        </h3>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">

<form action="" method="post">
        <input type="text" name="wallet" size='64'
           placeholder='код партнера или адрес криптовалюты'
        class='wallet'
        >
    <input type='submit' id='submit{{=id}}'
        value='{{=T('Принять')}}'
        size=6
        >
</form>
            </div>
        </div>
    </div>
    {{if not cod and not mess:}}
        <div class="gift-bgc pb-10">
            <div class="container" style="padding:10px 10%;">
                <h3>
                    Партнёрские выплаты
                </h3>
                <div class='row center' style='padding-top:5px;padding-bottom:5px;' >
                    <div class="col-sm-3"><b>Начислено и Снято</b></div>
                    <div class="col-sm-5"><b>Услуга партнера</b></div>
                    <div class="col-sm-4"><b>Аккаунт партнера</b></div>
                </div>
                {{odd=None
                for r in parts:
                    p_acc=r.deal_accs
                    p_deal = r.deals
                    acc = p_acc.acc
                    if len(acc)>13:
                        acc = acc[:2]+'..'+acc[-3:]
                    elif len(acc)>11:
                        acc = acc[:2]+'..'+acc[-2:]
                    elif len(acc)>9:
                        acc = acc[:1]+'..'+acc[-2:]
                    else:
                        acc = '...'+acc[-2:]
                    pass
                    }}
                <div class='row' style='padding-top:5px;padding-bottom:5px;
                            {{=odd and 'background-color:darkgreen;' or ''}}' >
                    <div class="col-sm-3">
                        <img src={{=URL('static','images/currs') + '/' + r.currs.abbrev + '.png'}} width=30></img>
                        {{=int(p_acc.partner_sum or 0)}}+{{=int(p_acc.partner_payed or 0)}}
                    </div>
                    <div class="col-sm-5">{{=p_deal.name}}</div>
                    <div class="col-sm-4">{{=acc}}</div>
                </div>
                {{odd = not odd
                pass}}
                 
        </div>
    </div>
    {{pass}}
</div>
