{{extend 'layout.html'}}

<div class="container">
    <h1>{{=title}}</h1>
    <h3>{{=subtitle}}</h3>
    <div class="row">
        <div class="col-12-sm">
        </div>
    </div>
</div>
<div class="container">

    <form action="javascript: void(0);" enctype="multipart/form-data" method="get" id="set">
    <div class="row">
        
        <div class="col-sm-2">
            
             {{=MENU(input_currs, _class='sel_curr nav navbar-nav left',
                li_class='dropdown',ul_class='dropdown-menu')}}
        </div>
        <div class="col-sm-6">
            <input name="vol_in" value=0.1 placeholder="{{=T('Количество')}}"
               autofocus="1" id="vol_in"
               type="text" />
            {{#=TAG.i(_class='fa fa-refresh', _style='font-size:24px;')}}
            x
            <input name="rate_out" value="0" disabled id="rate_out" type="text" placeholder="{{=T('rate')}}"
               style="width:8em; font-size:14px"
                   />
            =
            <input class="blue-c" name="vol_out" value="???" disabled
               id="vol_out"
               style="width:6em; font-size:16px"
               type="text" />
             {{=MENU(output_currs, _class='sel_curr nav navbar-nav right', _style='background-color: #26198a; padding:0px',
                li_class='dropdown',ul_class='dropdown-menu')}}
        </div>
        <div class="col-sm-2">

            {{=A(TAG.i(_class='fa fa-search', _style='wi-dth:100px; font-size:24px;'),
                    _id = 'go',
                    _onclick='ajax("'+URL('to_coin', 'get_rate')+'", ["curr_in", "vol_in", "curr_out"], "tag");$(".go-btn").addClass("disabled");$(this).children("i").removeClass("fa-search").addClass("fa-refresh fa-spin");$("#tag2").html("");',
                    _class='go-btn button ll-blue-bgc center navbar-nav',
                    )}}
                <button class="go-btn hidden"
                    onclick='ajax("{{=URL('to_coin', 'get_rate')}}", ["curr_in", "vol_in", "curr_out"], "tag");$(".go-btn").addClass("disabled");$("#go").children("i").removeClass("fa-search").addClass("fa-refresh fa-spin");$("#tag2").html("");'
                    type='submit'
                        />
        </div>
    </div>
</div>
<div id="tag">

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>
                {{=T('Введите адрес для выпаты и нажмите Enter для получения платежных реквизитов для обмена')}}
            </h4>
        </div>
    </div>
        
    </form>

    <form action="javascript: void(0);" enctype="multipart/form-data" method="get" id="get_uri">

    <div class="row">
        <div class="col-sm-7">
            <input class="blue-c" name="addr" placeholder="{{=T('WALLET ADDRESS')}}"
               autofocus="1" id="addr"
               style="width: 100%; padding:5px; margin-bottom:25px;"
               type="text" />
        </div>
        <div class="col-sm-3">
            {{=A(TAG.i(_class='fa fa-search', _style='width:100px; font-size: 24px;'),
                    _id = 'go2',
                    _onclick='ajax("'+URL('to_coin', 'get_uri_in')+'", ["curr_in", "vol_in", "curr_out", "addr"], "tag2");$(".go2-btn").addClass("disabled");$(this).children("i").removeClass("fa-search").addClass("fa-refresh fa-spin");$("#tag").html("");',
                    _class='go2-btn button ll-blue-bgc center navbar-nav',
                    )}}
                <button class="go2-btn hidden"
                    onclick='ajax("{{=URL('to_coin', 'get_uri_in')}}", ["curr_in", "vol_in", "curr_out", "addr"], "tag2");$(".go2-btn").addClass("disabled");$("#go2").children("i").removeClass("fa-search").addClass("fa-refresh fa-spin");$("#tag").html("");'
                    type='submit'
                        />
        </div>
    </div>
    </form>
</div>
<div id="tag2">
</div>

<p>
</p>
{{#import recl2
#=XML(recl2.get1())}}
