{{extend 'layout.html'}}

<div>
    <div class="container" style="padding:10px 10%;">
        <h2 class="center">Ответы на вопросы</h2>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-10">

{{=H3(T('Что такое криптовалюта?'))}}
{{=A(T('Краткое описание криптовалюты'), _href=URL('crypto'))}}. {{=T('Остальное ищем в интернете.')}}
{{=H3(T('Почему нельзя платить много?!?'))}}
{{=T('Потому что в России такое законодательство - платежи общей суммой более 15000 рублей должны быть подтверждены паспортом платящего. А разовые платежи ограничены суммой в 10000 рублей. Поэтому наш сервис может переводить без задержек суммы не более 3777 рублей. Просьба не делать переводы или покупки криптовалюты на суммы больше этого значения, иначе такой перевод или платеж может быть задержан на сутки.')}}
{{=H3(T('Я давно не заходил на сайт и перевел монеты на старый адрес, почему они вернулись?'))}}
{{=T(' Периодически, по разным причинам, адреса могут устаревать, поэтому желательно иногда получать их заново зайдя на сайт (хотя бы раз в год).')}}
{{=T('Советуем Вам')}}
{{=A(T('подписаться'),_href=URL('default', 'subscribe', ), _target='_blank')}}
{{=T('на важные уведомления от нашего сервиса')}}<br>

{{=H3(T('Почему курс, на который был создан заказ оплаты изменился?'))}}
{{=T(' Три причины:')}}
<br>{{=T(' - потому что время "жизни" заказа только 20 минут, после чего заказ становится недействительным. ')}}
<br>{{=T(' - потому что Вы создали перевод криптовалюты намного позже создания заказа. Время для ожидания создания перевода криптовалюты всего 5 минут.')}}
<br>{{=T(' - потому что Вы перевели большую сумму криптовалюты, чем было заявлено в заказе.')}}
{{=H3(T('Что будет если перевести криптовалюту на полученный ранее адрес?'))}}
{{=T(' Система выполнит платеж с заданными ранее параметрами, но по текущему курсу конвертации криптовалюты. Это очень удобно - не нужно заходить каждый раз на наш сайт - просто в своем кошельке криптовалюты выберите адрес по метке, которую Вы создали для этого платежа, и переведите на него нужное количество криптовалюты. Например, для оплаты мобильного телефона наш сервис выдал Вам адрес 1K4dw.... - когда будуте делать на него перевод, добавьте метку (label) к этому адресу, например такую: "%s - мой сотовый". Тогда следующий раз Вам не понадобится заходить на наш сайт - просто найдите в своем кошельке криптовалюты адрес по этой метке и сделайте на него перевод. ') % DOMEN}}
{{=H3(T('Я перевел криптовалюту, для пробы сервиса на 1 рубль, почему выплата задерживается?'))}}
{{=T(' Дилер электронных денег имеет ограничение на минимальную сумму платежа. Просто доплатите криптовалюту на тот же адрес, так чтобы сумма выплаты в рублях была больше минимальной суммы. Это можно увидеть в статусе при поиске транзакций по адресу (страница "Где?")') }}
{{=H3(T('Если я неправильно указал данные и платежная система элетронных денег отвергла рублевый платеж, то моя криптовалюта вернется?'))}}
{{=T('Да, в случае если платеж электроных денег не был успешен и рубли никуда не перевелись, то Ваша криптовалюта будет возвращена Вам мгновенно. Поэтому, когда Вы платите первый раз непроверенному получателю, оплачивайте криптовалюту на сервис только со своего кошелька. Тогда в случае неудачи сервис ввернет криптовалюту на Ваш кошелек.')}}
{{=H3(T('При создании заказа сумма платежа ограничена. Как оплатить за раз больше?'))}}
{{=T(' Вы можете прислать больше криптовалюты - она вся будет сконвертирована и полученные рубли выплочены на указанный счет указанному получателю. Однако, надо помнить что, существует месячное ограничение на переводимые суммы. Если за месяц сумма Ваших выплат будет больше чем максимально возможная по заказу, то сервис будет брать небольшой процент себе - влоть до 2% при превышении более чем в 5 раз.') }}
{{=H3(T('Какие проценты будет брать себе сервис при превышении месяной суммы платежей над максимальной суммой заказа?'))}}
{{=T(' Если сумма больше чем в 2 раза то добавочный процент, который возьмет себе сервис - 0,25%. Превышение в 3 раза - 0,5%, в 4 раза - 1%, в 5 раз - 2%.') }}
{{=H3(T('Почему суммы платежей ограничены?'))}}
{{=T(' Наш сервис это не биржа, где проходят большие объемы - задача сервиса другая: сделать удобным оплату криптовалютами небольших повседневных услуг, счетов, платежей. Поэтому мы не гарантиреум мгновенное исполнение платежей на сумму более 7777 рублей, так как резервы сервиса не безграничны и существует лимит на дневной объем операций. Большие платежи могут быть задержаны на сутки. Рекомендуем задавать сумму платежа в пределах до 3000 рублей.')}}<br>
{{=T('На покупку криптовалюты огрничением является резерв криптовалюты на сервисе.')}}
{{=H3(T('Почему иногда кнопки с названиями криптовалют неактивны?'))}}
{{=T(' Потому что связь с биржей для получения курса обмена криптовалют иногда обрывается. И если данные о курсе устаревают, то обмен приостанавливается. Просто подождите примерно 3 минуты, когда курсы обмена будут получены вновь и обновите страницу.')}}
{{=H3(T('Как подключить оплату новой услуги или дела, чтобы можно было за неё платить криптовалютой, например заплатить на свой аккаунт в новой онлайн-игре?'))}}
{{=T('На странице')}}
{{=A(T('Услуги и дела'), _href=URL('deal','index'), _target="_blank")}}
{{=T('задать в строке поиска название нужной услуги или дела. Если она не будет найдена, то сначала найдите её имя в списке на портале Яндекс-Деньги')}}
{{=A(T('тут'), _href='https://money.yandex.ru/search.xml', _target="_blank")}}
{{=T('. Скопируйте это имя в строку поиска на странице "Еще!". Сделайте поиск и в появившемся списке нажмите "Подключить". Если подключение прошло успешно, то Вы окажетесь на странице платежа. Пока автоматически могут быть подключены простые платежи - только с вводом аккаунта (логина, почты, счета) пользователя. Если требуются другие параметры для платежа, подключение может быть сделано вручную администратором нашего сервиса - отправтьте запрос на ') + 'support@' + DOMEN + '.' }}

{{=H3(T('Есть ли у сервиса API?'))}}
{{=A(T('API тут'), _href=URL('api','help'))}}

            </div>
        </div>
    </div>
</div>
