{{extend 'layout.html'}}

<div>
    <div class="container">
        <h1>Потратить догикоины и лайткоины на сотовый ЖКУ свет онлайн игры интернет</h1>
        <h3>Здесь Вы очень просто можете потратить свои dogecoin и litecoin на оплату сотового телефона, ЖКУ, свет, онлайн игры, интернет</h3>
        <p>
            Итак, Вы заработали догикоины (dogecoins) на кранах в интернете, куда их потрать? Благодаря нам Вы можете своими догикоинами сразу оплатить мобильный телефон или мобильный интернет и другие услуги
        </p>
        <h4>
            <a href="{{=URL('deal','index')}}">Потратить догикоины и лайткоины на сотовый ЖКУ свет онлайн игры интернет</a>
        </h4>
        <h4>
            <a href="{{=URL('deal','index')}}">Потратить Dogecoin и Litecoin на сотовый ЖКУ свет онлайн игры интернет</a>
        </h4>
        <h4>
            <a href="{{=URL('to_phone','index')}}">Оплатить догикоинами dogecoin сотовый мобильный телефон</a>
        </h4>
        <h4>
            <a href="{{=URL('to_phone','index')}}">Оплатить лайткоинами litecoin сотовый мобильный телефон</a>
        </h4>
        <h4>
            <a href="{{=URL('to_wallet','index')}}">Продать догикоины dogecoin за электронные деньги</a>
        </h4>
        <h4>
            <a href="{{=URL('to_wallet','index')}}">Продать лайткоины litecoin за рубли</a>
        </h4>
    </div>
</div>
