{{extend 'layout.html'}}
{{vol=session.vol or 200}}

<div class="container">
    <a class="block button blue-bgc right" style="margin-top:10px;padding-bottom:10px;"
       href="{{=URL('default','index', scheme=True, host=True)}}?short"><h3>Почему мы?</h3></a>
    <h1>{{=title}}</h1>
    <h3>{{=subtitle}}</h3>
    {{if session.bonus_to_pay:}}
    <h3 class='blink7'>
        <span  style='color:orchid;'><i class='fa fa-gift'></i>
        Вы имеете бонус {{=session.bonus_to_pay}} Satoshi, который может быть 
            <a href={{=URL('bonuses','index')}}><b>добавлен к Вашему пополнению</b></a>
            счёта мобильного телефона</span>
    </h3>
    {{pass}}
</div>
<div style="background-color:{{=SKIN['bg-clr-mnu']}};color:{{=SKIN['clr-mnu']}}">
    <div class="container" style="padding:10px 10%;">
        <h2 class="center">1. Задайте значения платежа</h2>
        <h3 class="center">или найдите оператора мобильной связи тут <a href={{=URL('deal','index')}} class="button ll-blue-bgc center"><i class='fa fa-search'></i></a></h3>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-8">
                Номер Вашего сотового телефона или мобильного модема?<br />
                +7<input class="blue-c" id="phone_val" name="phone" placeholder="916 9152013"
                         style="max-width:150px;" type="text" value="{{=phone_deal7 or ''}}"
                         {{=request.vars.phone and 'readonly' or ''}}/> <br />
            {{if GIFT_CODE:}}
            {{=T('Ваш Подарочный код')}}:
            <input type="text" name="gift_cod" class='gift_cod blue-c'
                value={{=GIFT_CODE}}
                readonly=true
                >
            {{else:}}
            {{=T('Введите Ваш Подарочный код (необязательно)')}}:
            <input type="text" name="gift_cod" class='gift_cod blue-c'
                >
            {{pass}}
            </div>
        </div>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-12">Доступно в службе: {{=free_bal}} рублей<br />
                На сколько рублей Вы хотите пополнить? Минимум: {{=MIN}}<br />
                <input class="blue-c" id="pay_val" name="vol"
                       onkeyup="recalc(this.value, {{=MAX}});" placeholder="> {{=MIN}}" size="8" type="text"
                       value="{{=vol}}"
                         {{=request.vars.sum and 'readonly' or ''}}/>
            </div>
        </div>
        {{if not request.vars.phone:}}
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-12 small">
                <span>*Вы можете использовать ссылку {{=URL(scheme=True, host=True)}}?phone=[Номер]&sum=[Сумма] для организации приёма платежей в биткоинах на своем сайте. Просто задайте свои значения номера телефона и суммы платежа, например так:<br>
                {{_=URL(scheme=True, host=True) + '?phone=' + (phone_deal7 or '9101235577') + '&sum=' + '%s' % vol}}
                <a href={{=_}} class="lite">{{=_}}</a><br>
                Более подробно в описании <a href={{=URL('api','index')}} class="lite"><b>API</b></a>
                </span>
            </div>
        </div>
        {{pass}}
    </div>
</div>
<h2 class="center">2. Выберите криптовалюту, которой Вы хотите платить</h2>
<h4 class="center">*курс будет уточнён в зависисмости от объема и других условий</h4>

{{=xcurrs_h}}

<p>
    
</p>
<div class="container">
    Вы можете напрямую оплатить биткоинами разные услуги и дела, самые популярные из них:
    {{=LOAD('deal','most' )}}

    </div>
</div>
<p>
    
</p>
{{import recl2
=XML(recl2.get1())}}

<script><!--
        onload = function() {recalc({{=vol}}, {{=MAX}}) };
//--></script>
