{{extend 'layout.html'}}

<div class="container">
    <h1>{{=title}}</h1>
    <h3>{{=subtitle}}</h3>
    <div class="row">
        <div class="col-12-sm">
        </div>
    </div>
</div>
<div class="container">
    <h2 class="center"{{=T('Что вы хотите продать, в каком количестве и за что')}}, <br />
    </h2>

    <form action="javascript: void(0);" enctype="multipart/form-data" method="post" id="inp_f">
    <div class="row">
        <div class="col-lg-2 col-md-1 col-sm-0">
        </div>

        
        <div class="col-sm-2">
                
             {{=MENU(input_currs, _class='nav navbar-nav navbar-nav ', _style='background-color: #26198a;',
                li_class='dropdown',ul_class='dropdown-menu')}}
                    </div>
        <div class="col-sm-2">
            <input name="curr_in" id="curr_in" type="text" placeholder="{{=T('Вход')}}" />
            <input class="blue-c" name="vol_in" placeholder="{{=T('Количество')}}"
               autofocus="1" id="vol_in"
               style="  width: 90%; padding:5px; margin-bottom:25px;"
               type="text" />
            <input name="curr_out" id="curr_out" type="text" placeholder="{{=T('Выход')}}" />
        </div>
        <div class="col-sm-2">
             {{=MENU(output_currs, _class='nav navbar-nav navbar-nav right-', _style='background-color: #26198a;',
                li_class='dropdown',ul_class='dropdown-menu')}}
        </div>
        <div class="col-sm-2">
            
            {{=A(TAG.i(_class='fa fa-search', _style='width:100px;'),
                    _id = 'go',
                    _onclick='ajax("'+URL('to_coin2', 'get_rate')+'", ["curr_in", "vol_in", "curr_out"], "tag");$(".go-btn").addClass("disabled");$(this).children("i").removeClass("fa-search").addClass("fa-refresh fa-spin");',
                    _class='go-btn button ll-blue-bgc center',
                    )}}
                <button class="go-btn hidden"
                    onclick='ajax("{{=URL('to_coin2', 'get_rate')}}", ["curr_in", "amo_in", "curr_out"], "tag");$(".go-btn").addClass("disabled");$("#go").children("i").removeClass("fa-search").addClass("fa-refresh fa-spin");'
                    type='submit'
                        />
        </div>
    </div>
    </form>
        <div class="row">
            <div class="col-sm-12" id="tag"></div>
        </div>
</div>

<p>
</p>
{{#import recl2
#=XML(recl2.get1())}}
