{{extend 'layout.html'}}

<div class="container">
    <h1 class="center">{{=title}}</h1>
    <h3>{{=subtitle}}</h3>
</div>

<div style="background-color:{{=SKIN['bg-clr-mnu']}};color:{{=SKIN['clr-mnu']}}">
    <div class="container" style="padding:10px 10%;">
        <p>
            Наш сервис 7Pay.in начисляет бонусы и дарит подарки за использование новых платежей или за Ваше постоянство. Подарок заключается в том, что мы дарим Вам некоторую сумму денег, которая добавляется равномерно к Вашим платежам небольшими частями случайным образом. Например если сумма подарка равна 100 рублям, а разовое снятие подарка равно 20 рублям, то когда Вы оплатите данную услугу, на которую Вам выпал подарок, Вы можете с большой вероятностью получить разовый подарок 20 рублей к своему платежу. Однако разовый подарок не может быть больше чем 30% от Вашего платежа. То есть, оплатив скажем 30 рублей за онлайн игру, Вы получите разовый подарок 10 рублей.
        </p>
    <p></p>
    <p></p>
    <h2 style='color:pink;'>
        Награды и Бонусы
    </h2>
    <p>Бонусы начисляются новым пользователям +{{=BONUSES['new']}} satoshi,
        за посещение нашего сайта +{{=BONUSES['visit']}} satoshi - раз за 
         {{=BONUSES['wait']}} дней,
        за использование подарочного кода +{{=BONUSES['gc']}} satoshi и за произведенные оплаты услуг.
        Эти значение могут меняться, так что заходите к нам почаще!
        </p>
        <p>
        Что такое "satoshi"? - Это самая малая доля одного биткоина, она равна 0,000`000`01 биткоин.
        </p>
        <p>
        Сами бонусы могут быть потрачены на пополнение сотового телефона или другие подарки от нас. Следите за новостями!
        </p>
        <p>
            {{if bonus:}}
Всего Вам начислено бонусов: <b>{{=bonus.taken}}</b> satoshi. Вами получено бонусов:<b>{{=bonus.payed}}</b> satoshi.
{{else:}}
            <span class='blink7'>
Сейчас Вы можете получить от нас бонус {{=session.bonus_taken or session.bonus_to_pay}} satoshi.
            </span>
{{pass}}
    </p>
        <p>
            <a class="button ll-blue-bgc center" href="{{=URL('bonuses','index')}}">
                Подробнее
            </a>
        </p>
    <p></p>
    <p></p>
    <h2 style='color:pink;'>
        Подарки
    </h2>
    <p>
    Для того чтобы получить подарок, Вам необходимо ввести "подарочный код" при задании параметров платежа за услугу или дело, которые есть в нашей подарочной программе. Например, если Вы получили от кого-то подарочный код ХХХХ и за оплаты онлайн игры Аллоды наша служба выдает подарки, то при оплате этой игры введите этот подарочный код.
</p>
    </div>
</div>
<div class="bg-warning">
    <div class="container" style="padding:10px 10%;color:chocolate;">
<p>
    ПРЕДУПРЕЖДЕНИЕ. В целях пресечения подбора подарочных кодов, для ввода подарочного кода даётся всего 5 попыток. Будьте внимательны при вводе. Для избежания ошибок при вводе используйте копирование через буфер обмена.
</p>
    </div>
</div>
<div class="bg-info">
    <div class="container" style="padding:10px 10%;">
<p>
    {{=T('Подарки на нашем сервисе могут появляться и изчезать. Cоветуем Вам ввести свой подарочный код, даже если в текущий момент падарков для оплат данной услуги или дела нет или выделенная сумма на подарки кончилась, - так как тогда при появлении подарков от 7Pay.in вновь Вы будуте получать подарки за каждый платеж автоматически.')}}
</p>
        {{=btns}}
    </div>
</div>
