{{extend 'layout.html'}}

<div >
    <div class="container" style="padding:10px 10%;">
        <h2 class="center">Подарочные программы</h2>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-sm-12">
{{=T('Список подарочных программ, по которым Вы можете получить подарок. Для получения подарка Вам нужно знать "Подарочный код". Такие подарочные коды имеют наши партнёры - найдите партнера и попросите у него подарочный код.')}}<br>
{{=h}}
            </div>
        </div>
    </div>
</div>
